body {
    background-color: #fdf2d7;
    display: grid;
    justify-content: center;
    margin: 0;
}

#content {
    background-color: #fdf2d7;
    width: 66vw;
    height: 100vh;
    justify-content: center;
    box-shadow: 0px 5px 15px black;
    display: grid;
    grid-template-rows: 150px auto;
}


#header {
    background-color: #fdf2d7;
    height: 150px;
    width: 66vw;
    display: flex;
    justify-content: center;
    box-shadow: 0px 15px 10px -12px black;
    opacity: 1;
}

#logo {
    height: 150px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

#tab {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    padding-top: 49px;
    background-color: #ffdf86;
    cursor: pointer;
}

#tab:hover {
    background-color: #ffd04e;
}

#about {
    background: rgba(0, 0, 0, 0.5);    
    background-image: url('./assets/food.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#about_txt {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 30vh;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    flex-grow: 1;
}

#about2 {
    margin-top: 45px;
    font-size: 20px;
}

#footer {    
    color: white;
    position: absolute;
    bottom: 0;
    justify-self: center;    
}

#chefKiss {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30vh;
    margin-left: 100px;
    border-radius: 100px;
}